body{
  font-family: 'Yantramanav', sans-serif;
  font-size: 18px;
}
.title{
  font-family: 'Castoro Titling', cursive;
  font-size: bold;
  text-align: center;
  padding: 50px 0;
  color: rgba(0,255,255,0.7);
}
.title1{
  font-family: 'Castoro Titling', cursive;
  font-size: bold;
  text-align: center;
  padding: 50px 0;
  color: black;
}
/* *****Nav-Bar***** */
.nav-bar{
    background-color: grey;
} 
.nav-bar{
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-nav .nav-item .nav_link:hover{
  color: rgba(0,255,255,0.7);
}
.collapse {
  display: flex;
  justify-content: flex-end;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 20px;
}
.logo{
  font-family: 'Caveat', cursive;
  font-size: 35px;
}
/* *****Main-page***** */
.portfolio{
    background-image: url("./image/20513010.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 760px;
}
.pro_container{
    padding-top: 150px;
    width: 50%;
}
.pro{
    height: 500px;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7); 
    transform: translateY(-5px);
}
.pro:hover{
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
  transform: translateY(-5px);
}
.pro_content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.pro_img{
    background-image: url("./image/logo1.avif");
    background-position: center;
    background-size: cover;
    border-radius:0px 16px 16px 0px;
}
.icon{
  padding-top: 17px;
}
.pro_icon{
    color: white;
    height: 50px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pro_content h3{
  font-family: 'Kalam', cursive;
  font-size: 34px;
}
.pro_content h6{
  font-family: 'Frank Ruhl Libre', serif;
}
.sof{
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
}
/* *****Academic Profile***** */
.academic{
  background-color: #F6F6F6;
  height: 470px;
}
.aca_main{
  justify-content: center;
  width: 100%;
  column-gap: 90px;
}
.aca_content{
  text-align: center;
  border-radius: 40px;
  box-shadow: 0px 5px 10px 0px #8D8C8A; 
  transform: translateY(-5px);
  padding: 20px 10px;

}
/* *****project***** */
.project{
  background-image: url("./image/20513010.jpg");
  height: 630px;
}
.project_content{
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.project1{
  font-family: 'Frank Ruhl Libre', serif;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7); 
  transform: translateY(-5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.project1 img{
  width: 245px;
}
.project2{
  font-family: 'Frank Ruhl Libre', serif;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7); 
  transform: translateY(-5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  width: 440px;
}
.project2 h4{
  text-align: center;
}
.add{
  color: white;
}
.add:hover{
  color: rgba(0,255,255,0.7) ;
}
/* *****Certificate***** */
.cert_content ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cert_content ul li{
  display: flex;
  column-gap: 10px;
}
.cert_para{
  font-size: 25px;
}
.cert_icon:hover{
  color: rgba(0,255,255,0.7) ; 
}
/* *****Skills***** */
.skills{
  height: 300px;
  background-color: #F6F6F6;
}
.skills_main{
  display: flex;
  justify-content: space-evenly;
}
.circle{
  padding-top: 20px;
  width: 15%;
  border-radius: 72px;
  box-shadow: 0px 5px 10px 0px #8D8C8A;
  transform: translateY(-5px)
}
.circle p{
  display: flex;
  justify-content: center;
}
.html{
  color: #FFA500;
  display: flex;
  justify-content: center;
}
.css{
  color: #0000FF;
  display: flex;
  justify-content: center;
}
.cpro{
  color: #2a9df4;
  display: flex;
  justify-content: center;
}
.java{
  color: #1167b1;
  display: flex;
  justify-content: center;
}
.sql{
  color: burlywood;
  display: flex;
  justify-content: center;
}
/* *****Contact***** */
.con_container{
  padding-top: 10px;
  width: 50%;
}
.contact{
  background-image: url("./image/20513010.jpg");
  background-attachment: fixed;
  height: 680px;
}
.con_main{
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7); 
  transform: translateY(-5px);
}
.con_img{
  background-image: url("./image/how-to-fix-the-unknown-message-not-found-on-iphone-error-849e332f4e9241db9cb80ef9ddb63e01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius:16px 0px 0px 16px;
}
.con_form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 25px;
    color: white;
}
.con_form input{
    border-radius: 10px;
}
.con_form textarea{
  border-radius: 10px;
}
.sub{
  padding: 10px;
  display: flex;
  justify-content: center;
}
/* *****Footer***** */
.footer1{
    background-color: gray;
}
.foo_main{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.foo_para{
  display: flex;
  column-gap: 30px;
  padding-top: 10px;
}
.foo_icon{
  display: flex;
  column-gap: 30px;
}
.icon{
  color: white;
}
.icon:hover{
  color: rgba(0,255,255,0.7) ;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
@media (min-width: 1025px) and (max-width: 1280px) {
/* *****Main-page*****      */
.pro_content{
  text-align: center;
} 
/* *****project*****   */
.project{
  height: 660px;
}
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
@media (min-width: 768px) and (max-width: 1024px) {
/* *****Main-page*****    */
.pro_container{
  width: 65%;
}
.pro_content{
  text-align: center;
}
/* *****Academic Profile***** */
.academic{
  height: 560px;
}
/* *****project***** */
.project{
  height: 1030px;
}
.project_content{
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
@media (min-width: 481px) and (max-width: 767px) {
 html{
  overflow-x: hidden !important;
 } 
/* *****Nav-bar***** */
/* .nav-bar{
  width: 635px;
}   */
/* *****Main-page***** */
/* .portfolio{
  width: 635px;
} */
.pro_container{
  width: 90%;
}
.pro_content{
  text-align: center;
}
/* *****Academic Profile***** */
.academic{
  /* width: 635px; */
  height: 540px;
}
.aca_main{
  column-gap: 30px;
}
/* *****project***** */
.project{
  /* width: 635px; */
  height: 1030px;
}
.project_content{
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}
/* *****Certificate***** */


    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {
 html{
  overflow-x: hidden;
 } 
/* *****Nav-bar***** */
.logo{
   font-size: 30px;
}
/* .nav-bar{
  width: 320px;
} */
/* *****Main-page***** */
.pro{
  height: 580px;
}
.portfolio{
  height: 780px;
}
.pro_container {
  padding-top: 110px;
  width: 80%;
}
.pro_content{
  order: 2;
  width: auto;
}
.pro_img{
  order: 1;
  border-radius: 16px 16px 0px 0px;
  width: 272px;
  height: 195px;
}
.pro_content{
  text-align: center;
}
/* *****Academic Profile***** */
.academic{
  height: 1070px;
}
.aca_main{
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  margin: 0px;
}
.aca_content{
  width: 290px;
  padding: 20px 10px;
}
/* *****project***** */
.project{
  height: 1070px;
}
.project_content{
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
}
.project1{
  width: 250px;
}
.project2{
  width: 250px;
}
/* *****Skills***** */
.skills{
  height: 740px;
}
.skills_main{
   flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.circle{
  width: 60%;
}
/* *****content***** */
.contact{
  height: 870px;
}
.con_container{
  width: fit-content;
}
.con_main{
  flex-direction: column;
  align-items: center;
  width: 240px;
}
.con_img{
  border-radius: 16px 16px 0px 0px;
  height: 200px;
  width: inherit;
}
.con_form{
  align-items: center;
}

    
  }